h1{
    margin-bottom: 5px;
    background-image: url(http://blogs.luc.edu/farmersmarket/files/2020/06/Produce-1140x550.jpg);
    background-size: cover;
    border:double 15px black;
    height: 150px;
}

.title{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 2px black;
    text-shadow: black 3px 3px;
}

.info{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    font-style: italic;
    text-shadow: black 3px 3px;
    -webkit-text-stroke: 1px black;
}

button {
    background-color: #4CAF50; /* Green */
    border: thin black 5px;
    color: white;
    padding: 15px 32px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

h3{
    color: black;
    border: black 2px dotted;
}
#searchBar{
    border: 2px solid red;
    height: 30px;
    width: 200px;
    border-radius: 50px;
    padding: 0px 10px;
    font-family: sans-serif;
}
#numberResults{
    border: 2px solid red;
}

body{
    height: 100vh;
    background-image: url(https://www.inquirer.com/resizer/X2e2KeAt84ebZGKcGVkuNrJPjmg=/1400x932/smart/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/XSXXBDNPURCDTK3QO2F7GFYQUE.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    height: 30px;
    width: 60px;
    border-radius: 50px;
    padding: 0px 10px;
}
#glutenFree{
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    vertical-align: text-bottom;
    position: relative;
    cursor: pointer;
}
#dairyFree{
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    vertical-align: text-bottom;
    position: relative;
}
#peanutFree{
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    vertical-align: text-bottom;
    position: relative;
}

.container{
    background-color: rgb(238, 225, 44);
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    border: black 6px double;
    opacity: .9;
    /* height:; */
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
button {
    background-color: rgb(230, 155, 16); /* Green */
    border: none;
    color: black;
    text-shadow: red 1px 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

label {
    color: red;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: black 1px 1px;
    
}

#errorMessage {
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
a{
    color:red;
}