.container{
    background-color: rgb(59, 55, 55);
    font-size: x-large;
    font-weight: bolder;
    font-weight: 500;
    text-align: center;
    border: black 3px dotted;
}
h1{
    margin-bottom: 10px;
    color: darkgray;
    text-decoration: underline 2px black;
}
h3{
    color: black;
    border: black 2px dotted;


}
input{
    border: 3px solid greenyellow;
    height: 30px;
    width: 300px;
    border-radius: 50px;
    padding: 0px 10px;
}

h2{
    border: dotted 2px;
    background-color: black;
}
body{
    background-color: coral;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

label {
    color: white;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  